#primary_nav_wrap ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0
}

#primary_nav_wrap .sub-menu {
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #373a3c;
    text-align: inherit;
    background: 0 0;
    border: 0
}

#primary_nav_wrap ul a {
    display: block;
    text-decoration: none;
    line-height: 56px;
    padding: 0 15px;
    color: rgba(255, 255, 255, .5);
}

#primary_nav_wrap ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    line-height: 56px;
}

#primary_nav_wrap ul li.current-menu-item {
    background: rgb(115, 211, 255)
}

#primary_nav_wrap ul li:hover {
    background: #50ABF5
}

#primary_nav_wrap ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0
}

#primary_nav_wrap ul ul li {
    float: none;
    width: 200px
}

#primary_nav_wrap ul ul a {
    line-height: 120%;
    padding: 10px 15px
}

#primary_nav_wrap ul ul ul {
    top: 0;
    left: 100%
}

#primary_nav_wrap ul li:hover > ul {
    display: block
}





